.profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: darkgray;
}
.userCard {
  width: 220px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
}
.profileDeleteBtn {
  position: absolute;
  right: 0;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .profileImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .userCard {
    width: calc(100% / 3 - 20px);
  }
  .userCard p {
    margin: 0;
    font-size: 0.7em;
  }
}
@media (max-width: 500px) {
  .userCard {
    width: calc(100% / 2 - 20px);
  }
}
