thead {
  background-color: #2b2b2b;
  color: white;
}
thead th {
  border-right: 1px solid black;
}
thead th:last-child {
  border: none;
}
.transactionTable {
  border-collapse: collapse;
  border: 1px solid black;
  width: 70vw;
  text-align: center;
}
th,
td {
  border-right: 1px solid black;
  padding: 5px;
}
tr {
  border-bottom: 1px solid black;
}
.transactionTr.Odd {
  background-color: #d3d3d3;
}
